.board {
    height: 50rem;
    width: 50rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.row {
    width: 100%;
    height: 12.5%;
    display: flex;
}

.square {
    height: 100%;
    width: 12.5%;
}

.light {
    background-color: #eeeed2;
}

.dark {
    background-color: #769656;
}

.switch-player-color-btn {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    padding: .5rem;
}

span {
    font-size: 1.5rem;
    margin-left: .4rem;
    display: flex;
}

.span-num-light {
    color: #eeeed2;
}

.span-num-dark {
    color: #769656;
}

.span-let-light {
    color: #eeeed2;
}

.span-let-dark {
    color: #769656;
}